body,html,* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div#wrapper {
    width: 80%;
    margin: auto;
    border: 1px solid #333;
}

header {
    background: #FFC6CA;
    padding: 20px;
}

header h1 {
    font-size: 40px;
    font-family: sans-serif;
}

nav {
    background: #89DF91;
}

nav a {
    font-size: 18px;
    padding: 10px;
    display: inline-block;
}

main {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    clear: both;
}

main article {
    width: 80%;
    padding: 25px 25px 400px  25px;
}

main aside {
    width: 20%;
    background: #FDF6D2;
}

main aside ul {
    margin: 20px 60px;
    padding: 0;
}

main article h1 {
    font-family: sans-serif;
    font-size: 26px;
    margin-bottom: 15px;
}

main article p {
    font-family: sans-serif;
}

footer {
    background: #89DF91;
    width: 100%;
    display: block;
    padding: 15px 25px;
}